/*------BARRA DE MENU------*/

#menu-page {
    gap: 10px;
}

/*-BOTONES-*/

.menu-button {
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 80px;
    height: 30px;
}

#inicio-button {
    background-color: var(--gris-claro);
    border-color: var(--gris-claro);
    position: absolute;
    right: 10px;
}

#inicio-button:hover {
    color: var(--textos);
}

#generales-button {
    background-color: var(--celeste);
    border-color: var(--celeste);
}

#informes-button,
#filtrar-button {
    border-radius: 15px;
    border-width: 1px;
    padding: 6.5px;
    border-color: #FFF;
}

#informes-button {
    background-color: var(--fondo-Menu);
}

#filtrar-button {
    background-color: white;
    color: var(--textos);
}

#filtrar-button:hover {
    background-color: var(--gris-claro);
    border-color: var(--gris-claro);
    color: white;
}

#generales-button:hover,
#informes-button:hover {
    background-color: var(--gris-claro);
    border-color: var(--gris-claro);
}

/*-DESPLEGABLES-*/

.desplegable {
    background-color: var(--fondo-Menu);
    border-style: none;
    font-size: 14px;
    height: 30px;
    width: 120px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
}

.desplegable:hover {
    background-color: var(--fondo-Menu);
    color: white;
}

/*------SECCION DE MENSAJES AL USUARIO------*/

#div-container-msg {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.cuadro-msg {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    
}

.cuadro-msg i,
.cuadro-msg p {
    color: #FFF;
}

.cuadro-msg p {
    font-weight: bold;
    font-size: 14px;
    margin: 7px;

}

.cuadro-msg i {
    font-size: 18px;
}

#msg-exito {
    background-color: var(--mensaje-usuario-verde);
}

#msg-error {
    background-color: var(--mensaje-usuario-rojo);
}

#msg-alerta {
    background-color: var(--mensaje-usuario-amarillo);
}

/*------SECCION DE CONTENIDO PRINCIPAL------*/

/*-TITULO-*/

#div-titulo,
#div-contenido,
#div-container-graficos {
    width: 85%;
    margin: auto;
}

#div-titulo h1 {
    margin: 30px auto 0 auto;
}

#div-titulo p {
    margin: 0 0 25px 0;
    color: var(--celeste);
    font-size: 14px;
}

/*-RECUADROS-*/

#div-contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#button-agregar-a-informe {
    background-color: var(--gris-claro);
    color: #FFF;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
}

#button-agregar-a-informe:hover {
    color: var(--textos);
}

#div-recuadros-resumen {
    display: flex;
}

.recuadro-resumen {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: #FFF;
}

.recuadro-resumen img {
    height: 50px;
}

#recuadro-urna {
    background-color: var(--celeste);
}

#recuadro-personas {
    background-color: var(--magenta);
}

#recuadro-manos {
    background-color: var(--morado);
}

/*-GRAFICOS-*/

/*-Generales-*/
#div-container-graficos {
    display: flex;
    gap: 7px;
}

.div-grafico {
    height: 325px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--borde-Grilla);
    /*box-shadow: ;*/
}

.titulo-de-grafico {
    font-weight: bold;
    padding: 1.8em 0 15px 0;
    text-align: center;
    white-space: nowrap;
}

/*Grafico Agrupación*/

#container-agrupacion {
    flex: 4 1 0;
    display: flex;
    flex-direction: column;
}

#container-bloques {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 18px;
}

.bloque-agrupacion {
    padding: 10px;
}

.nombre-agrupacion {
    font-size: 12px;
    padding: 7px 0;
    color: var(--textos);
    font-weight: bold;
    border-bottom: 1px solid var(--borde-Grilla);
    text-transform: uppercase;
}

.bloque-lista {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: var(--textos);
    padding: 8px 0;
    text-transform: uppercase;
}

.nombre-lista {
    font-weight: bold;
}

.votos-lista {
    line-height: 1.5;
}

/*barra de progreso*/
/* Es el estilo que aportaba la consigna N°2 del TPI para copiar desde el pdf*/
.progress {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
}

/*Gráfico de Mapa de Provincia*/

#grafico-mapa {
    flex: 3 1 0;
}

#mapa-de-grafico{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Gráfico de barras*/

#grafico-barras {
    flex: 4 1 0;
    display: flex;
    flex-direction: column;
}

.grid-container {
    /*border: 1px solid blue;*/
    height: 100%;
    width: 100%;
    display: flex;
}

#grid {
    width: 90%;
    height: 95%;
    margin: auto;
    display: flex;
    /*border: 1px solid rgb(255, 0, 25);*/
}

#sub-grid-1 {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    /*border: 1px solid rgb(255, 0, 25);*/
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#sub-grid-2 {
    flex: 9 0 0;
    display: flex;
    height: 93.5%;
    width: 100%;
    max-width: 400px;
    margin: auto 0;
    border-bottom: 2px solid rgb(149, 149, 149);
    border-top: 2px solid rgb(149, 149, 149);
    align-items: end;
    justify-content: space-around;
}

#scale-bar {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
}

.bar {
    height: var(--bar-value);
    width: var(--bar-width);
    margin: 0;
    border-radius: 3px 3px 0 0;
}

.bar:hover {
    opacity: 0.7;
}

.bar p {
    font-size: 12px;
    text-align: center;
    transform: rotate(-45deg);
    white-space: nowrap;
    margin-top: -32px;
}


/* Estilo del gráfico de barras que copié directamente desde el pdf de la consigna N°2 del TPI*/

/*.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
/*.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    /*transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 110px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}

/* posicionamos el % del gráfico*/
/*.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: '0%';
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: '100%';
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
/*.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: green /*var(--bar-color)*/;
    /*border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}
